namespace: anyshare

labels:
  deployment:
    name: data-subject-deployment
  pod:
    app: data-subject-pod
  service:
    app: data-subject-service

image:
  registry: acr.xxx.cn
  repository: af/data-subject
  tag: "1.0.0-develop"
  pullPolicy: IfNotPresent

replicaCount: 1

name: data-subject-deployment

nodeSelector: []

ports:
  name: server-port
  containerPort: 8123

service:
  name: data-subject
  type: ClusterIP
  port: 8123
  telemetry:
    log:
      enabled: true
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-4d42d761dbf0ea95/events
      level: info
    trace:
      enabled: true
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-a2491f67d02e482c/events

depServices:
  class-443:
    ingressClass: class-443
  rds:
    type: mariadb
    host: mariadb-mariadb-master.resource
    port: 3330
    user: anyshare
    password: xxx
    database: af_main
  hydra:
    publicHost: hydra-public
    publicPort: 4444
    administrativeHost: hydra-admin
    administrativePort: 4445
  user-management:
    publicHost: user-management-public
    publicPort: 30980
    privateHost: user-management-private
    privatePort: 30980
  task-center:
    host: task-center
    port: 8143
  configuration-center:
    host: configuration-center
    port: 8133
  standardization:
    protocol: http
    host: standardization
    port: 80
  business-grooming:
    protocol: http
    host: business-grooming
    port: 8123
  data-view:
    protocol: http
    host: data-view
    port: 8123
  af-sailor-service:
    protocol: http
    host: af-sailor-service
    port: 80
  oss:
    ossApp: af
    ossHost: ossgatewaymanager-private:9002
    ossProtocol: http
    ossIsDefault: true
    ossBucket: afstorage
  external-plugin-framework:
    host: external-plugin-framework
    port: 9613
  mq:
    Type: kafka
    Host: kafka-0.kafka-headless.resource
    Port: 9097
    LookupdHost: kafka-0.kafka-headless.resource
    LookupdPort: 9097
    auth:
      username: anyrobot
      password: xxx
      mechanism: PLAIN
  redis:
    host: proton-redis-proton-redis.resource:6379
    password: xxx
    database: 1
    minIdleConns: 8
  cron:
    expression: "* 0/10 * * * ?"
    table: "subject_domain"
    column: "id,name,type,path_id,path,owners"
    idColumnName: "domain_id"
    timeStampColumnName: "updated_at"

resources:
  requests:
    cpu: 0.1
    memory: 10Mi
  limits:
    cpu: 500m
    memory: 1024Mi
