server:
  http:
    addr: 0.0.0.0:8143
    timeout: 150s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 150s
data:
  database:
    driver: mysql
    source:
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
doc:
  host: "${DOC_HOST}"
  version: "1.0"

database:
  default:
    dbtype: "${DB_TYPE}"
    host: "${DB_HOST}"
    port: "${DB_PORT}"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
    database: "${DB_NAME}"
    max-idle-connections: 5
    max-open-connections: 50
    max-connection-idle-time: 300
    max-connection-life-time: 900
    loglevel: 2
    isdebug: true
    tableprefix: t_

kafkaConf:
  version: "${KAFKA_VERSION}"
  uri: "${KAFKA_URI}"
  clientId: "${KAFKA_CLIENT_ID}"
  username: "${KAFKA_USERNAME}"
  password: "${KAFKA_PASSWORD}"
  groupId: "${KAFKA_GROUP_ID}"
  mechanism: "PLAIN"

redis:
  host: "${REDIS_HOST}"
  password: "${REDIS_PASSWORD}"
  database: "${REDIS_DB}"
  minIdleConns: "${REDIS_MIN_IDLE_CONNS}"

oauth:
  oauthClientID: "${OAUTH_CLIENT_ID}"
  oauthClientSecret: "${OAUTH_CLIENT_SECRET}"
  oauthAdminHost: hydra-admin
  oauthAdminPort: 4445
depServices:
  userMgmPrivate: "${USER_MANAGE_HOST}"
  hydraAdmin: "${HYDRA_HOST}"
  config-center-host: "${CONFIG_CENTER_HOST}"
  business-grooming-host: "${BUSINESS_GROOMING_HOST}"
  catalog-service-host: "${CATALOG_SERVICE_HOST}"
  data-view-host: "${DATA_VIEW_HOST}"
  data-exploration-host: "${DATA_EXPLORATION_HOST}"
  workFlowRestHost: "${WORKFLOW_REST_HOST}"
  docAuditRestHost: "${DOC_AUDIT_REST_HOST}"
  tenantApplicationCodeRuleID: "${TENANT_APPLICATION_CODE_RULE_ID}"
  mq:
    connectorType: "${CONNECTOR_TYPE}"
    mqHost: "${MQ_HOST}"
    mqLookupdHost: "${NSQ_LOOKUPD_HOST}"
    mqLookupdPort: "${NSQ_LOOKUPD_PORT}"
    mqPort: "${MQ_PORT}"
    nsqdPortTCP: "${NSQD_PORT_TCP}"
    auth:
      mechanism: "${MQ_AUTH_MECHANISM}"
      password: "${MQ_AUTH_PASSWORD}"
      username: "${MQ_AUTH_USERNAME}"
telemetry:
  traceUrl: "${TRACE_URL}"
  logLevel: "${LOG_LEVEL}"
  logUrl: "${LOG_URL}"
  serverName: "${SERVER_NAME}"
  serverVersion: "${SERVER_VERSION}"
  traceEnabled: "${TRACE_ENABLED}"
  auditEnabled: "false"


logs:
  - name: task_center
    default: true
    enable_caller: true
    stacktrace_level: error
    development: false
    cores:
      - destination: console
        core_type: stdout
        output_format: console
        enable_color: true
        log_level: debug
  - name: task_center_request
    default: false
    enable_caller: true
    development: false
    cores:
      - destination: logs/http_request.log
        rotate_size: 100MB
        core_type: file
        output_format: json
        log_level: info
      - destination: console
        core_type: stdout
        output_format: console
        enable_color: true
        log_level: info
##
#database:
#  default:
#    dbtype: mysql
#    host: 10.4.68.64
#    username: root
#    password: "123456"
#    database: af_tasks
#    maxa: 10
#    maxb: 10
#    maxc: 60
#    loglevel: 2
#    isdebug: true
#    tableprefix: t_

# 回调配置
callback:
  # 是否启用回调
  enabled: ${CALLBACK_ENABLED}
  # 通过这个地址调用回调接口
  address: ${CALLBACK_ADDRESS}

# 租户 ID
#
# 一个 AnyFabric 只会对应一个租户，所以应该从类似配置中心的地方获取，但是目前没
# 有定义。在定义前，从环境变量载入租户 ID。
tenantID: ${TENANT_ID}
