# 名称空间，服务都要在同一个空间。
namespace: anyshare

# 1 修改标签
labels:
  deployment:
    name: session-deployment
  pod:
    app: session-pod
  service:
    app: session-service

# 2 修改仓库服务的镜像地址：不同的项目记得修改repository中af后的项目名和tag
image:
  registry: acr.xxx.cn
  repository: af/session
  tag: "1.0.0-alpha"
  pullPolicy: IfNotPresent


#3 修改容器副本数量
replicaCount: 1

#4 修改deployment的名称
name: session-deployment

nodeSelector: []

#需要暴露的端口号列表
#containerPort容器需要监听的端口号
#protocol端口协议，支持TCP和UDP，默认TCP
ports:
  name: server-port
  containerPort: 8113


# 修改service的名字、端口，nodePort是对外的端口。
service:
  name: session
  type: ClusterIP
  port: 8113
  oauthClientID: ""
  oauthClientSecret: ""
  version: "1.0.0"
  telemetry:
    log:
      enabled: true
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-4d42d761dbf0ea95/events
      level: info
    trace:
      enabled: true
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-a2491f67d02e482c/events

depServices:
  redis:
    connectInfo:
      masterGroupName: mymaster
      password: xxx
      sentinelHost: proton-redis-proton-redis-sentinel.resource
      sentinelPassword: xxx
      sentinelPort: 26379
      sentinelUsername: root
      username: root
    connectType: sentinel
    database: 0
  mq:
    kafka:
      type: kafka
      host: kafka-headless.resource
      port: 9097
      lookupdHost: kafka-headless.resource
      lookupdPort: 9097
      username: kafkaclient
      password: xxx
      mechanism: PLAIN
    nsq:
      type: nsq
      host: proton-mq-nsq-nsqd.resource
      port: 4150
      httpHost: proton-mq-nsq-nsqd.resource
      httpPort: 4151
      lookupdHost: proton-mq-nsq-nsqlookupd.resource
      lookupdPort: 4161
  hydra:
    publicHost: hydra-public
    publicPort: 4444
    administrativeHost: hydra-admin
    administrativePort: 4445
  user-management:
    publicHost: user-management-public
    publicPort: 30980
    privateHost: user-management-private
    privatePort: 30980
  deploy-management:
    host: deploy-service
    port: 9703
  configuration-center:
    host: configuration-center
    port: 8133
# 可选服务配置信息
optionalDepServices:
  anyshare:
    host: 127.0.0.1
    port: 443
    protocol: https
config:
  sessionExpireSecond: 7200
  httpClientExpireSecond: 60


# 修改pod资源限制：cpu示例:0.5/500m/1/1000m;memory示例:512Mi/1Gi
resources:
  requests:
    cpu: 0.1
    memory: 10Mi
  limits:
    cpu: 500m
    memory: 1024Mi
